In [1]:
#Dictionary
#mutable
#indexing doesnt not work
#keys cannot be repeated
#keys cant be mutable items

In [2]:
#empty dictionary

In [3]:
d= {}
d

{}

In [5]:
#1d dictionary

d1 = {'name': 'a','age': 27}
d1

{'name': 'a', 'age': 27}

In [6]:
#2d dict

s = {
    'name':'nitish', 'college' : 'bit' , 'sem':4,
    'subjects' : {
        'dsa' : 50,
        'maths':67,
        'english': 34
    }
}

s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [11]:
#accessing items

a = { 'name' : 'Anusha' , 'age' : 27}
a['name']

#or

a.get('age')

27

In [13]:
#adding new key value pair

a['gender'] ='female'
a

{'name': 'Anusha', 'age': 27, 'gender': 'female'}

In [15]:
#remove key value pair

#pop

d = {'name': 'Anusha', 'age': 27, 'gender': 'female'}
d.pop('name')
print(d)

{'age': 27, 'gender': 'female'}

In [16]:
#popitem - removes the last key value oair in the dictionary

d.popitem()
print(d)

{'age': 27}

In [17]:
del d['age']
print(d)

{}

In [20]:
 
s = {
    'name':'nitish', 'college' : 'bit' , 'sem':4,
    'subjects' : {
        'dsa' : 50,
        'maths':67,
        'english': 34
    }
}

s['subjects']['maths']

67

In [21]:
s['subjects']['data science'] = 99

In [22]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'data science': 99}}

In [23]:

d = {'name': 'Anusha', 'age': 27, 'gender': 'female'}

for i in d:
    print(i,d[i])

name Anusha
age 27
gender female

In [24]:
#dictionary functions

In [25]:
len(d)

3

In [26]:
#sorted will sort the keys

sorted(d)

['age', 'gender', 'name']

In [30]:
#items /keys/values
print(d)
print(d.items())

print(d.keys())
print(d.values())

{'name': 'Anusha', 'age': 27, 'gender': 'female'}
dict_items([('name', 'Anusha'), ('age', 27), ('gender', 'female')])
dict_keys(['name', 'age', 'gender'])
dict_values(['Anusha', 27, 'female'])

In [32]:
d1= {'a' : 1 , 'b' : 3 , 'c' : 6}
d2= {'d' :4 , 'e' : 7}
d1.update(d2)
d1

{'a': 1, 'b': 3, 'c': 6, 'd': 4, 'e': 7}

In [33]:
#dict comprehension

{ i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [35]:
#using existign dict

distance = {'d': 1000, 'm' : 2000 , 'b' :8000}
{a:b**0.62 for (a,b) in distance.items()}

{'d': 72.44359600749901, 'm': 111.33676474718055, 'b': 262.97580422745256}

In [40]:
#using zip dict comphrehension

days = ['sunday', 'monday' , 'tuesday' , 'wednesday' , 'thursday' , 'friday' , 'saturday']
temp = [ 30,28,27,29,44,27 ,12]

{i:j for (i,j) in zip(days,temp)}

{'sunday': 30,
 'monday': 28,
 'tuesday': 27,
 'wednesday': 29,
 'thursday': 44,
 'friday': 27,
 'saturday': 12}

In [41]:
#using if condition

prod = { 'phone' : 10 , 'laptop' : 0 , 'charger' : 32 , 'tablet' : 0}

In [42]:
{k:v for (k,v) in prod.items() if v >0}

{'phone': 10, 'charger': 32}