In [15]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [16]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end=" ")
    print(" ")

for k in range(4,0,-1):
    for l in range(k,0,-1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
n = int(input("Enter n"))
sum=1
x=2
for i in range(2, n+1):
    print(i)
    sum += x*i/i
    print(sum)
print(sum)

Enter n3
2
3.0
3
5.0
5.0

In [29]:
n = int(input("Enter n"))
x=4
sum = (x-1)/x
for i in range(2,n+1):
    sum += 0.5*(((x-1)/x)**i)
print(sum)

Enter n7
1.674774169921875

In [34]:
n = int(input("enter n"))
x = "2"
sum=0
for i in range(1,n+1):
    sum += int(x*i)
print(sum)

enter n5
2
22
222
2222
22222
24690

In [4]:
L = []
for i in range(1,11):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#scalar multiplication on a vector
v = [2,3,4]
s=-3
print(v*s)

p = [s*i for i in v]
print(p)

[]
[-6, -9, -12]

In [8]:
l = [1,2,3,4,5]
l = [i**2 for i in l]
print(l)

[1, 4, 9, 16, 25]

In [12]:
p=[i for i in range(1,51) if i%5==0]
print(p)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [13]:
#nested if with list comprehension

basket = ['apple', 'gauva', 'cherry', 'banana']
my_fruits= ['apple', 'kiwi', 'grapes', 'banana']

[i for i in my_fruits if i in basket if i.startswith('a')]

['apple']

In [14]:
#cartesian product -> list comprehension on 2 lists together

L1 = [1,2,3,4]
L2= [5,6,7,8]
[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [16]:
#cartesian product -> list comprehension on 2 lists together

L1 = [1,2,3,4]
L2= [5,6,7,8]
[[i*j for i in L1] for j in L2]

[[5, 10, 15, 20], [6, 12, 18, 24], [7, 14, 21, 28], [8, 16, 24, 32]]

In [18]:
a = 'hello'
a[::-1]

'olleh'

In [19]:
#zip function

l1 = [1,2,3,4]
l2 = [-1,-2,-3,-4]
a=list(zip(l1,l2))
print(a)

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [20]:
[i+j for i,j in zip(l1,l2)]

[0, 0, 0, 0]

In [24]:
#reverse is permanent thing. meaning once done it will change the value

l1 = [1,2,3,4]
l1.reverse()

In [25]:
print(l1)

[4, 3, 2, 1]

In [26]:
#sort permanent thing. meaning once done it will change the value
a= [1,9,5,6,2,7]
a.sort()
print(a)

[1, 2, 5, 6, 7, 9]

In [27]:
#sorted ddoes not change the value permanently

b = [1,8,7,5,4]

print(sorted(b))
print(b)

[1, 4, 5, 7, 8]
[1, 8, 7, 5, 4]

In [32]:
#Adding iterms to the list

#append

b = [1,6,7,8]
b.append(0)
print(b)
b.append([2,3,4])
print(b)

[1, 6, 7, 8, 0]
[1, 6, 7, 8, 0, [2, 3, 4]]

In [31]:
#extend

#can add muyltiple items tothe list at a time

b.extend([6,7,8])
print(b)

[1, 6, 7, 8, 0, 6, 7, 8]

In [ ]:
#insert