In [1]:
#most used obejcts of pandas are -  dataframe and series

In [3]:
#SERIES -  like a column in a table which holds a 1D data of any type

In [5]:
import numpy as np
import pandas as pd

#### Series from lists

In [6]:
country = [' India' , 'USA', 'UK', 'Nepal', 'Canada']

In [8]:
pd.Series(country)  # value = countriies and the index - 0,1,2,3,4

0     India
1       USA
2        UK
3     Nepal
4    Canada
dtype: object

In [9]:
#Integers  - observe the dtype
runs = [31,45,68,79,100]
pd.Series(runs)

0     31
1     45
2     68
3     79
4    100
dtype: int64

In [10]:
# if you want to change the index instead of the default index then  

marks = [65,78,98,100]
subjects = ['maths', 'english','science', 'kannada']
#now i want the marks to be the value and index to have the subjects so 

pd.Series(marks,index=subjects)

maths       65
english     78
science     98
kannada    100
dtype: int64

In [12]:
#setting a name - something like a title

marks = pd.Series(marks,index=subjects, name = "MY MARKS")
marks

maths       65
english     78
science     98
kannada    100
Name: MY MARKS, dtype: int64

## Series from Dictionary

In [15]:
marks = {
    'maths' : 90,
    'english ': 100,
    'Kannada' : 200   
}

marks_series = pd.Series(marks,name = 'MY MARKS')
marks_series

maths        90
english     100
Kannada     200
Name: MY MARKS, dtype: int64

#### SERIES ATTRIBUTES

In [19]:
#size
marks_series.size

3

In [20]:
#dtype

marks_series.dtype

dtype('int64')

In [21]:
#name
marks_series.name

'MY MARKS'

In [24]:
#isunique - checks if any item is repeated in the series, if repeated  - it will return false
#else true

marks_series.is_unique

True

In [26]:
pd.Series([1,2,3,4,4,5,6,6]).is_unique

False

In [28]:
#index- stores the index values of series
marks_series.index

Index(['maths', 'english ', 'Kannada'], dtype='object')

In [29]:
#values

marks_series.values

array([ 90, 100, 200], dtype=int64)

In [30]:
type(marks_series.values)

numpy.ndarray

#### Series using read_csv

In [37]:
# with one column
pd.read_csv('CSV/subs.csv') #the output is not a series

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [39]:
type(pd.read_csv('CSV/subs.csv'))

pandas.core.frame.DataFrame

In [55]:
#to convert it to series use squeeze

subs=pd.read_csv('CSV/subs.csv', squeeze = True)
subs

C:\Users\anush\AppData\Local\Temp\ipykernel_40280\3255327353.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs=pd.read_csv('CSV/subs.csv', squeeze = True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [41]:
type(pd.read_csv('CSV/subs.csv', squeeze = True))

C:\Users\anush\AppData\Local\Temp\ipykernel_40280\1816956014.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  type(pd.read_csv('CSV/subs.csv', squeeze = True))

pandas.core.series.Series

In [74]:
#with 2 columns

vk=pd.read_csv('CSV/kohli_ipl.csv',index_col = 'match_no',squeeze = True)

C:\Users\anush\AppData\Local\Temp\ipykernel_40280\471991653.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk=pd.read_csv('CSV/kohli_ipl.csv',index_col = 'match_no',squeeze = True)

In [65]:
#with 3 columns

movies= pd.read_csv('CSV/bollywood.csv',index_col = 'movie',squeeze = True)
movies

C:\Users\anush\AppData\Local\Temp\ipykernel_40280\506918353.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  movies= pd.read_csv('CSV/bollywood.csv',index_col = 'movie',squeeze = True)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

#### SERIES METHODS

In [58]:
#head and tail
print(subs.head())
print(subs.tail())

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [62]:
#if i want more than 5 rows

print(subs.head(20))

0     48
1     57
2     40
3     43
4     44
5     46
6     33
7     40
8     44
9     74
10    49
11    56
12    49
13    42
14    39
15    44
16    54
17    51
18    40
19    37
Name: Subscribers gained, dtype: int64

In [63]:
subs.tail()

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [68]:
#sample  -  gives one row in a series

movies.sample()

movie
Chef (2017 film)    Saif Ali Khan
Name: lead, dtype: object

In [71]:
movies.sample(10) #randomly picks 10 
# use when there is bias in the sample. so sample cn randmly pick and give

movie
Madhoshi                              Bipasha Basu
Golmaal Again                           Ajay Devgn
JD (film)                           Rina Charaniya
Hungama (2003 film)                 Akshaye Khanna
Ek Vivaah... Aisa Bhi                Isha Koppikar
Dharti Kahe Pukar Ke (2006 film)        Ajay Devgn
Jaane Kyun De Yaaron                  Akshay Anand
Ishq Hai Tumse                          Dino Morea
Chal Pichchur Banate Hain           Sagar Bhangade
Kushti (film)                         Rajpal Yadav
Name: lead, dtype: object

In [73]:
#value_counts - counts the frequency of every value
# tells which actor did how many movies

movies.value_counts()

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64

In [79]:
#sort_value - sort the entire values
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [83]:
#method chaining 
# sort_values does not do permanent changes 
vk.sort_values(ascending=False).head(1).values[0]

113

In [84]:
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [87]:
# to change it permanently

vk.sort_values(ascending = False, inplace = True)

In [88]:
vk.head()

match_no
128    113
126    109
123    108
120    100
164    100
Name: runs, dtype: int64

In [89]:
#sort index

movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object