# Tuple is similar to list but is immutable

charcters:
    
    ordered
    unchangeable
    allows duplicates

In [1]:
#Creating tuples

t1 = ()
print(t1)

()

In [4]:
#create tuple with a single item
t2 = (2)

print(t2)

#this crreates a int and not a tuple while adding a single item tuple always add a commaa after the value instered

t3=(2,)
print(t3)

2
(2,)

In [8]:
t4 = (1,2,3,5)
print(t4)

t6 = tuple('1456')
print(t6)

(1, 2, 3, 5)
('1', '4', '5', '6')

In [12]:
#Accessing items

#indexing 
#slicing

print(t4)

(1, 2, 3, 5)

In [14]:
print(t4[0])

1

In [15]:
#slicing

print(t4[0:2])

(1, 2)

In [16]:
#edit items

In [17]:
print(t4)

(1, 2, 3, 5)

In [18]:
t3[0] = 1000
#error because tuples are immutable just like strings

TypeError: 'tuple' object does not support item assignment

In [20]:
#adding items

#cannot add items to tuple

In [21]:
#deleting tuple
#can delete the entire tuple but cannot del one single item

In [24]:
#operations and fucntions on tuples

t1 = (1,2,3,4)
t2 = (5,6,7,8)

In [25]:
print(t1 + t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [26]:
#tuple function

In [31]:
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse = True)

[4, 3, 2, 1]

In [33]:
#count

t3.count(5)

t3.count(89)

0

In [34]:
#Difference between tuples and lists
#     1.syntax
#     2.mutabilty
#     3.speed (immutable data types are fasters ocmpanred to lists)
#     4.memory
#     5.built in fucntionalities
#     6.lists are more erroe prone

In [35]:
#special syntax

In [36]:
#tuple unpacking

a,b,c = (1,2,3)

In [37]:
print(a,b,c)

1 2 3

In [38]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [39]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [42]:
a,b, *others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [44]:
# zipping tuples 
a = (1,2,3,4)
b = (5,6,7,8)
list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [45]:
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [48]:
A = " ABCDEFGHIKILMABCDEFGHIKLM"

k =3
freq= {}
for i in range(len(A) - k + 1):
    # Extract the substring of length k
    sub = A[i : i + k]
    
    # Check if this substring is already a key in the dictionary
    if sub in freq:
        freq[sub] += 1
    else:
        freq[sub] = 1
# Print the frequency dictionary
dict_as_tuple = tuple(freq.items())
print(dict_as_tuple)

((' AB', 1), ('ABC', 2), ('BCD', 2), ('CDE', 2), ('DEF', 2), ('EFG', 2), ('FGH', 2), ('GHI', 2), ('HIK', 2), ('IKI', 1), ('KIL', 1), ('ILM', 1), ('LMA', 1), ('MAB', 1), ('IKL', 1), ('KLM', 1))

In [50]:
# #SETS
# it is an unordered collection of items 
# # 1. unordered
# 2. mutable
# 3. no duplicates
# 4. can't contain mutable date types

In [52]:
# SET CREATION
#set and dict both conatin same declaration syntax and python always shows the {} as a dict by default

s = {}
print(type(s))

<class 'dict'>

In [53]:
#therefore always use type conversion
s=set()
print(type(s))

<class 'set'>

In [54]:
# 4. can't contain mutable date types

s3={1,3,4,{2,3,4}}
print(s3)

TypeError: unhashable type: 'set'

In [55]:
#unordered

s4 = {1,'hello',4.5,(1,2,3)}
print(s4)

{1, (1, 2, 3), 4.5, 'hello'}

In [56]:
#duplicates not allowed

s5 = {1,1,2,2,3,3}
print(s5)

{1, 2, 3}

In [57]:
 #accessing items
    
s5[0]

TypeError: 'set' object is not subscriptable

In [58]:
#editing items

#adding  

s= {1,2,3,4}

s.add(6)
print(s)

{1, 2, 3, 4, 6}

In [60]:
#update

s.update([5,4,3,2])
print(s)

{1, 2, 3, 4, 5, 6}

In [61]:
#deleting items

#del can help delete entire set

s = {1,2,5,3,6}

del(s)
print(s)

{1, 2, 3, 4, 5, 6}

NameError: name 's' is not defined

In [64]:
#discard.

s = {1,2,5,3,6}
s.discard(1)
print(s)

# if a number whichis not there in the set is being deleted it doesnt throw an error in discard

s.discard(68)
print(s)

{2, 3, 5, 6}
{2, 3, 5, 6}

In [65]:
#remove
s.remove(6)
print(s)

#remove throws error

s.remove(78)
print(s)

{2, 3, 5}

KeyError: 78

In [66]:
#pop randomply deletes any element 

s.pop()
print(s)

{3, 5}

In [67]:
#clear clears the entire set

s.clear()
print(s)

set()

In [68]:
#Set OPeration
#1.Union
s1 =  { 1,2,3,4,5}
s2={6,7,8,9,0}
s1|s2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [69]:
#2.Intersection

s1 &s2

set()

In [70]:
s1-s2

{1, 2, 3, 4, 5}

In [72]:
s3= {3,4,5,9,8}

s2^s3

{0, 3, 4, 5, 6, 7}

In [73]:
#isdisjoint/issubset/issuperset
s1 ={ 1,2,3,4,5}
s2={6,7,8,9,0}
s1.isdisjoint(s2)

True

In [75]:
s1 ={ 1,2,3,4,5}
s2={3,4,5}
s2.issubset(s1)

True

In [77]:
s1.issuperset(s2)

True