# Tuple is similar to list but is immutable

charcters:
    
    ordered
    unchangeable
    allows duplicates

In [1]:
#Creating tuples

t1 = ()
print(t1)

()

In [4]:
#create tuple with a single item
t2 = (2)

print(t2)

#this crreates a int and not a tuple while adding a single item tuple always add a commaa after the value instered

t3=(2,)
print(t3)

2
(2,)

In [8]:
t4 = (1,2,3,5)
print(t4)

t6 = tuple('1456')
print(t6)

(1, 2, 3, 5)
('1', '4', '5', '6')

In [12]:
#Accessing items

#indexing 
#slicing

print(t4)

(1, 2, 3, 5)

In [14]:
print(t4[0])

1

In [15]:
#slicing

print(t4[0:2])

(1, 2)

In [16]:
#edit items

In [17]:
print(t4)

(1, 2, 3, 5)

In [18]:
t3[0] = 1000
#error because tuples are immutable just like strings

TypeError: 'tuple' object does not support item assignment

In [20]:
#adding items

#cannot add items to tuple

In [21]:
#deleting tuple
#can delete the entire tuple but cannot del one single item

In [24]:
#operations and fucntions on tuples

t1 = (1,2,3,4)
t2 = (5,6,7,8)

In [25]:
print(t1 + t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [26]:
#tuple function

In [27]:
t = (1,2,3,4)
len(t)

4